html {

    background-color: black;
}


.post {

    border: solid;
    width: 350px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-block:  10px 20px;
    writing-mode: horizontal-tb;;
    margin-left: 500px;
    margin-right: 50px;
    background-color: white;

}

.post-profile {

margin-right: auto;

}
.post-header {

    display: flex;
    width: 80%;                
    margin: 0 auto;            
    padding: 0px;   
    background-color: white;
 
}

.post-header h4,
.post-header h5 {
    margin-top: 0;    /* Remove top margin */
    margin-bottom: 0; /* Set bottom margin to the desired spacing */
    padding: 0;     /* Remove any padding if set */
}
.icono-html {


    color: black;
    margin-top: auto;
    margin-bottom: auto;
   font-size: 32px;
}

.icono-puntos {

font-size: 25px;

}
.post-image {
    width: auto;      
    height: 200px;      
    overflow: hidden;   
    position: relative; 
    object-position: center;

}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
.post-body {

    font-family: sans-serif;

}

.post-options {

    display: flex;
}

.icon {

    font-size: 25px;
    margin-left: 5px;  

}
.last-icon {

        margin-left: auto;
        font-size: 25px;
        margin-right: 5px; 
}